@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #141e30;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-toggle {
    display: flex;
  }
}

